* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;;
  height: 100vh;
}

.main {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_results {
  text-align: center;
  margin-bottom: 25px;
}

.cards {
  display: flex;
  flex-wrap: wrap;

  margin: 0 auto;
  width: 90%;
}

.card {
  background-color: #eee;
  flex: 0 1 calc(25% - 36px);
  padding: 25px 15px;
  margin: 18px;
  cursor: pointer;
}

.card_img-container {
  width: 120px;
  height: 180px;
  margin: 0 auto 20px auto;
}

.card_img {
  display: block;
  width: 100%;
  height: 100%;
}

.card_category {
  text-decoration: underline;
  font-size: 12px;
  color: #888;
  margin-bottom: 12px;
}

.card_title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.card_autor {
  font-size: 12px;
  color: #888;
}

.error {
  text-align: center;
  margin-top: 30px;
  color: #e90c0c;
}

@media (max-width: 920px) {
  .card {
    flex: 0 1 calc(33.33% - 28px);
    padding: 25px 15px;
    margin: 14px;
  }
  
  .card_title {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .card_autor, .card_category {
    font-size: 10px;
  }

  .card_category {
    margin-bottom: 8px;
  }
}

@media (max-width: 670px) {
  .main {
    padding: 12px;
  }

  .main_results {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .cards {
    width: 100%;
  }

  .card {
    flex: 0 1 calc(50% - 20px);
    padding: 20px 12px;
    margin: 10px;
  }

  .card_title {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .card_autor, .card_category {
    font-size: 10px;
  }

  .card_category {
    margin-bottom: 8px;
  }
}

@media (max-width: 440px) {
  .main {
    padding: 8px;
  }

  .main_results {
    margin-bottom: 12px;
    font-size: 16px;
  }

  .cards {
    width: 100%;
    justify-content: center;
  }

  .card {
    flex: 0 1 70%;
    margin: 0 0 14px 0;
  }

  .card_title {
    font-size: 12px;
    margin-bottom: 6px;
  }

  .card_autor, .card_category {
    font-size: 10px;
  }

  .card_category {
    margin-bottom: 8px;
  }
}